<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DataAccessLayer.Properties.Settings.DataBasePG"
        connectionString="User Id=postgres;Password=123456;Host=localhost;Database=MANIZALES;Persist Security Info=True;Initial Schema=public"
        providerName="Devart.Data.PostgreSql" />
	  
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSV2DEMOSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSV2PROSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSV2PROSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservice.facturatech.co/v2/BETA/WSV2DEMO.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSV2DEMOSoap"
                contract="WSFTech.WSV2DEMOSoap" name="WSV2DEMOSoap" />
      <endpoint address="https://webservice.facturatech.co/v2/BETA/WSV2PRO.asmx"
          binding="basicHttpBinding" bindingConfiguration="WSV2PROSoap"
          contract="WSFTECHPRO.WSV2PROSoap" name="WSV2PROSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="server" value="localhost" />
    <add key="port" value="5432" />
    <add key="user" value="postgres" />
    <add key="password" value="123456" />
    <add key="dataBase" value="VIKINA" />
    <add key="electronic_invoice" value="true" />
    <add key="ws_productive" value="false" />
    <add key="type_enviroment" value="2" />
    <add key="conection" value="true" />
    <add key="id_user" value="6" />
    <add key="id_caja" value="1" />
    <add key="no_caja" value="1" />
    <add key="id_apertura" value="1" />
    <add key="idturno" value="1" />
    <add key="install" value="true" />
    <add key="report" value="C:\Users\Admin\Documents\DFPYME-POSELECTR" />
    <add key="color" value="true" />
    <add key="firstcorte" value="true" />
    <add key="verCosto" value="true" />
    <add key="costoMasIva" value="true" />
    <add key="nivelcero" value="false" />
    <add key="inventariosistema" value="false" />
    <add key="fact-negativo" value="true" />
    <add key="promedio" value="false" />
    <add key="num_promedio" value="3" />
    <add key="precio_venta_iva" value="true" />
    <add key="tipo_aprox_precio" value="false" />
    <add key="aprox_decena" value="10" />
    <add key="aprox_centena" value="100" />
    <add key="calculo_util_multiplica" value="false" />
    <add key="pregunta_act_util" value="false" />
    <add key="pregunta_act_pventa" value="false" />
    <add key="utilidad_mas_iva" value="false" />
    <add key="const" value="con" />
    <add key="numero" value="100000" />
    <add key="cfactantigua" value="FRV" />
    <add key="factantigua" value="001" />
    <add key="ingreso" value="001" />
    <add key="otro_ingreso" value="001" />
    <add key="facturapos" value="false" />
    <add key="temp" value="220501" />
    <add key="id_cuenta_egreso" value="79" />
    <add key="cuenta_egreso" value="0000" />
    <add key="comprafac" value="79" />
    <add key="ctacomprafac" value="220501" />
    <add key="abonocomprafac" value="79" />
    <add key="ctaabonocomprafac" value="220501" />
    <add key="devolucioncliente" value="79" />
    <add key="ctadevolucioncliente" value="417501" />
    <add key="agrupacion" value="false" />
    <add key="proveedor_beneficio" value="true" />
    <add key="documento" value="001" />
    <add key="idrubro_c" value="2" />
    <add key="base" value="725000" />
    <add key="concepto" value="Compras en general" />
    <add key="uvt" value="27" />
    <add key="pesos" value="725000" />
    <add key="tasa" value="3,5" />
    <add key="idrubro_v" value="2" />
    <add key="base_v" value="725000" />
    <add key="concepto_v" value="Compras en general" />
    <add key="uvt_v" value="27" />
    <add key="pesos_v" value="725000" />
    <add key="tasa_v" value="3,5" />
    <add key="printDocEquivalente" value="false" />
    <add key="printEgreso" value="false" />
    <add key="printIngreso" value="false" />
    <add key="printRboCaja" value="false" />
    <add key="printRboAnticpo" value="false" />
    <add key="printNotaCredito" value="false" />
    <add key="printCompDiario" value="false" />
    <add key="printCopiaFVenta" value="false" />
    <add key="printCopiaRemision" value="false" />
    <add key="printEditFrv" value="false" />
    <add key="printEgresoDevVenta" value="false" />
    <add key="printNotaCreCliente" value="false" />
    <add key="printCompDevolVenta" value="false" />
    <add key="printCarteraCliente" value="false" />
    <add key="printCarteraProveedor" value="false" />
    <add key="printInformeRetiro" value="false" />
    <add key="printInventario" value="false" />
    <add key="cargarCliente" value="true" />
    <add key="reqCantidad" value="false" />
    <add key="costoIva" value="true" />
    <add key="pagoFactRemision" value="false" />
    <add key="cargaProveedorCompra" value="false" />
    <add key="reqApertura" value="true" />
    <add key="permitirDesctoMayor" value="true" />
    <add key="permitirDesctoDistrib" value="true" />
    <add key="menuConsCompra" value="false" />
    <add key="copyCompra" value="1" />
    <add key="copyEgreso" value="1" />
    <add key="copyRboCaja" value="1" />
    <add key="ctaEgreso" value="1" />
    <add key="ctaRetencion" value="2" />
    <add key="prestamoAnticipo" value="2" />
    <add key="ctaAnticipo" value="3" />
    <add key="ctaPrestamo" value="4" />
    <add key="ctaCuentaPagar" value="5" />
    <add key="btq" value="false" />
    <add key="consultaVenta" value="true" />
    <add key="rutaInstalPostresql" value="" />
    <add key="rutaCopyBackup" value="" />
    <add key="medidaCantidadCompraSimple" value="true" />
    <add key="preguntaPrintVenta" value="false" />
    <add key="graneroJhonRiosucio" value="false" />
    <add key="c_categoriaPredeterminada_1" value="" />
    <add key="n_categoriaPredeterminada_1" value="" />
    <add key="c_categoriaPredeterminada_2" value="" />
    <add key="n_categoriaPredeterminada_2" value="" />
    <add key="cod_categoria_seleccionada" value="1" />
    <add key="name_categoria_seleccionada" value="CARNES" />
    <add key="cod_categoria_seleccionada_2" value="2" />
    <add key="name_categoria_seleccionada_2" value="VERDURA SAMANA" />
    <add key="cod_barras_cant_peso" value="false" />
    <add key="redondeo_precio_dos" value="false" />
    <add key="print_termal_80mm" value="true" />
    <add key="negrita_prt_term_58mm" value="false" />
    <add key="id_fuente_impresion" value="1" />
    <add key="fuente_impresion" value="Lucida Console" />
    <add key="tamanio_fuente_impresion" value="9" />
    <add key="impresora" value="FACTURACION" />
    <add key="activa_funcion_expulsa_cajon" value="true" />
    <add key="numero_restantes_alert" value="200" />
    <add key="bloquear_facturacion" value="false" />
    <add key="f_11_impsto_bolsa" value="false" />
    <add key="trasaldo_inven_cant_negativa" value="false" />
    <add key="permitir_cambio_usuario" value="false" />
    <add key="frm_consulta_inventario" value="true" />
    <add key="ticket" value="false" />
    <add key="costo_inventario" value="false" />
    <add key="datos_cliente" value="false" />
    <add key="txt_valor_unitario" value="false" />
    <add key="product_description" value="true" />
    <add key="station_name" value="CAJA" />
    <add key="default_util_percent" value="false" />
    <add key="costo_discount_d1" value="true" />
    <add key="consecutivo_caja" value="false" />
    <add key="portBasculaCOM" value="" />
    <add key="timeReader" value="100" />
    <add key="commandCharacter" value="P" />
  </appSettings>
</configuration>